
* {
  box-sizing: border-box;
  margin: 0; padding: 0;
}
body {
  position:relative;
  bottom: 0%;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0);
  background-color:transparent;
}
h1 {
  padding: 50px 0;
  font-size: 45px;
  text-align: center;
  color: rgb(255, 255, 255);
}
:active, :hover, :focus {
  outline: 0!important;
  outline-offset: 0;
}
::before,
::after {
  position: absolute;
  content: "";
}

.btn-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 10px auto 35px;
}
.btn {
  position:absolute;
  bottom: 34%;
  left: 4.8%;
  display: inline-block;
  width: 7%; height: 3%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px 25px 15px;
  min-width: 150px;
  z-index: 1;
}
  .btn span {         
    position: relative;
    display: inline-block;
    font-size: 50%;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0; left: 0;
    width: 100%;
    padding: 15px 20px;
    transition: 0.3s;
  }

.btn-4 span {
  color: rgb(255, 255, 255);
  background-color:transparent;
}
.btn-4 span:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.301)
}
.btn-4::before,
.btn-4::after {
  width: 15%; height: 2px;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}

/* 20. hover-border-10 */
.btn.hover-border-10::before,
.btn.hover-border-10::after {
  left: 0.1%;
  height: -100%;
  width: 2px;
  transition: height 0.2s 0.35s ease-out;
}
.btn.hover-border-10::before {
  top: 50%;
}
.btn.hover-border-10::after {
  bottom: 50%;
}
.btn.hover-border-10:hover::before {
  height: 50%;
  transition: height 0.2s ease-in;   
}
.btn.hover-border-10:hover::after {
  height: 50%;
  transition: height 0.1s ease-in;   
}

.btn.hover-border-10 span::before,
.btn.hover-border-10 span::after {
  width: 0%; height: 0%;
  background: transparent;
  opacity: 0;
  z-index: 2;
}
.btn.hover-border-10 span::after {
  bottom: 0; left: 0%;
  border-bottom: 2px solid rgb(255, 255, 255);
  transition: width 0.25s ease-in, opacity 0s 0.35s;   
}
.btn.hover-border-10 span:hover::after {
  width: 100%;
  opacity: 1;
  transition: width 0.25s 0.2s ease-out, opacity 0s 0.2s;   
}
.btn.hover-border-10 span::before {
  top: 0%; left: 0%;
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  transition: height 0.15s ease-in, width 0.2s 0.15s linear, opacity 0s 0.35s;   
}
.btn.hover-border-10 span:hover::before {
  width: 98.5%; height: 96%;
  opacity: 1;
  transition: width 0.2s 0.1s linear, height 0.15s 0.3s ease-out, opacity 0s 0.1s;   
}
